@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background-color: #24252A; */
/*    background-color:#000000	*/;
}

li, a, button{
    font-family:"Montserrat", san-serif;
    font-weight: 500;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

body{
    background-color: whitesmoke;
}


header{
    max-height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    /*background-color: ;*/
    background: linear-gradient(45deg,#000000,#191D32, #282F44, #453A49 , #6D3B47,#BA2C73, #FF3706);
    background-size: 600% 100%;
    animation: gradient 20s linear infinite;
    animation-direction: alternate;


}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


#logo{
    display: block;
    cursor: pointer;
    margin-right:auto;
    max-height: 100px;
    max-width: 100px;


}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: #0088a9;
}
button{
    padding: 9px 30px;
    /*padding-left: 40px;*/
    background-color: rgba(0,136,169,1);
    border:none;
    border-radius: 100px;
    justify-content: flex-end;
    cursor: pointer;

    transition: all 0.3s ease 0s;

}

button:hover{
        background-color: rgba(0,136,169,.8);

}

#footer {
  position: absolute;
  bottom: 30;
  left: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}



#wrapper{

    position: relative;
    left: 20rem;
    /* top: 1em; */
    z-index: 0;
}

#StudentSearch{
    margin-left:10;
}

.wrapperstudent{
    margin-top: -300px;


}

.resp-container {
    position: relative;
    overflow: hidden;
}
.resp-iframe {
    position: absolute;
    top: 100;
    left: 600;
    width: 50%;
    height: 100%;
    border: 0;
}

html, body {
    margin: 0; height: 100%; overflow: hidden
}

@import url('https://fonts.googleapis.com/css?family=Roboto:700');
@keyframes showTopText {
  0% { transform: translate3d(0, 100%, 0); }
  40%, 60% { transform: translate3d(0, 50%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
@keyframes showBottomText {
  0% { transform: translate3d(0, -100%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
.animated-title {
  color: #000000;
  font-family: Roboto, Arial, sans-serif;
  height: 90vmin;
  left: 300px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70vmin;
}
.animated-title > div {
  height: 50%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
.animated-title > div div {
  font-size: 20px;
  padding: 2vmin 0;
  position: absolute;
}
.animated-title > div div span {
  display: block;
}
.animated-title > div.text-top {
  border-bottom: .5vmin solid #000;
  top: 0;
}
.animated-title > div.text-top div {
  animation: showTopText 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}
.animated-title > div.text-top div span:first-child {
  color: #000;
}
.animated-title > div.text-bottom {
  bottom: 0;
}
.animated-title > div.text-bottom div {
  animation: showBottomText 0.5s;
  animation-delay: 1.75s;
  animation-fill-mode: forwards;
  top: 0;
  transform: translate(0, -100%);
}